.head {
  display: flex;
  background-color: white;
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.list {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: space-around;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}
.list::-webkit-scrollbar {
  display: none;
}
.float{
  flex: 1;
}
.hamburgerIcon{
  display: none;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  width: 20%;
}
.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 40%;
}
.access {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 15px;
  margin: auto;
}
.quotes {
  color: var(--primary-dark);
}
.quotes {
  font-size: 15px;
}
/* Media query for screens with a maximum width of 1024px */
@media (max-width: 1024px) {
  .left {
    gap: 10px;
  }
  .right {
    gap: 10px;
  }
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 769px) and (min-width: 426px) {
  .quotes {
    display: none;
  }
  .right {
    width: 26%;
  }

  .left {
    width: 20%;
  }
  .list {
    white-space: initial;
  }
}

@media (max-width: 426px) {
  .hamburgerIcon{
    display: block;
  }
  .float {
    display: none;
  }
  .mobile {
    display: block;
  }
  .head {
    gap: 0;
    padding: 20px;
  }
  .left {
    width: 100%;
    gap: 5px;
  }
  .right {
    display: none;
  }
  .quotes {
    display: block;
    font-size: 12px;
  }
}
